<div class="container" ng-controller="clientControllerEdit">	
	<div class="jumbotron text-center" >
		<p>
			<h1> Datos del cliente</h1>
		</p>
	</div>

	<div>
		<!--
		<div>
 			<img src="/img/employees.jpg" class="img-circle">  /// ng-disabled="!checked" //BTN ng-show="checked" 
		</div> -->
		<div class="table table-striped">
			
			<form class="form-horizontal" role="form">
				<div class="form-group">
			    	<label class="col-sm-2 control-label" for="lastName" ></label>
			    	<div class="col-sm-4">
			    		<input type="checkbox" ng-model="checked"> Modificar Cliente
			    	</div>	
				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label" for="clientId">ID</label>
				    <div class="col-sm-4">
				   		<input type="text" class="form-control" id="clientId" disabled="disabled" ng-model="client.id">
				   	</div>

				</div>
				<div class="form-group">
				    <label class="col-sm-2 control-label" for="name">Nombre</label>
				    <div class="col-sm-4">
				   		<input type="text" class="form-control" id="name" ng-disabled="!checked" ng-model="client.name">
				   	</div>	
				
			    	<label class="col-sm-2 control-label" for="lastName" >Apellido</label>
			    	<div class="col-sm-4">
			    		<input type="text" class="form-control" id="lastName" ng-disabled="!checked" ng-model="client.lastName">
			    	</div>	
	 		 	</div>

				<div class="text-center">
					<p>
						<a class="btn btn-default btn-primary" id="btnSave" ng-show="checked" ng-click="update()"><span class="glyphicon glyphicon-user"></span> Save</a>
						<a href="#/" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
					</p>
				</div>
			</form>			
		</div>
	</div>	
</div>
